$theme-color: #5063c2;
$background-color: #FFF;
$background-color1: #fafafa;
$background-prompt-bar: #FCECDB;
$placeholder-color: #B8B8B8;
$placeholder-color1: #b5b5b5;
$font-color: #333333;
$font-color-light: #999999;
$font-color-lighter: #cccccc;
$font-color-tip: #868686;
$font-color-notice: #F06422;
$font-color-title: #9ea5bb;
$border-color: #F8F8F8;
$border-color1: #ededed;
$search-input-background: #f6f6f7;
$search-tip-background: #f0f1f9;
$check-color: #ee8f2a;
$button-color: #9b9ecc;
